.chatRoom{
    background: #e74c3c;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    &__container{
        background-color: #ffff;
        text-align: center;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

        h1{
            background-color: #ea7474;
            font-family: "Roboto", sans-serif;
            font-weight: 200;
            margin: 0;
            padding: 10px;
            color: white;
            
        }
        &__chatBox{
            width: 600px;
            height: 600px;
            overflow: scroll;
            ul{
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: column;
            }
            .sent{
                align-self: flex-end;
                .contant{
                    background-color: #fffc97;
                    border-radius: 10px 0px 10px 10px;
                    padding: 10px;
                    margin: 0px 20px;
                }
                .date{
                    font-size: 8px;
                    color: #b8b8b8;
                }
            }
            .received{
                align-self: flex-start;
                text-align: left;
                .userName{
                    margin: 5px 20px;
                    font-size: 12px;
                    color: #c1c0c0;
                }
                .contant{
                    background-color: rgb(215, 237, 198);
                    border-radius: 0px 10px 10px 10px;
                    padding: 10px;
                    margin: 0px 20px;
                    
                }
                .date{
                    font-size: 8px;
                    color: #b8b8b8;
                }
            }
        }
        &__sendBox{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin: 10px 0px;
            textArea{
                width: 80%;
                height: 50px;
                resize: none;
                
            }
            button{
                background: #e74c3c;
                color: #ffff;
                border: #e74c3c;
                width: 50px;
                height: 50px;
            }
        }
    }

    li{
        list-style-type: none;
    }

}
@media screen and (max-width:700px) { 
    .chatRoom__container__chatBox{
        width: 550px;
        height: 500px;
    }
}
@media screen and (max-width:550px) { 
    .chatRoom__container__chatBox{
        width: 500px;
    }
}
@media screen and (max-width:500px) { 
    .chatRoom__container__chatBox{
        width: 450px;
    }
}
@media screen and (max-width:450px){
    .chatRoom__container__chatBox{
        width: 400px;
        height: 550px;
    }
}
@media screen and (max-width:400px){
    .chatRoom__container__chatBox{
        width: 350px;
        height: 500px;
    }
}
@media screen and (max-width:350px){
    .chatRoom__container__chatBox{
        width: 300px;
        height: 450px;
    }
}